body {
	font-family: "Comic Sans MS", cursive, sans-serif
}
#header-nav div.container {
	margin: 0;
	padding: 0;
}
#header-nav {
  background-color: #D3D3D3;
  border-radius: 0;
  border: 0;
}
.navbar-brand h2 {
  text-decoration: none;
  color: #000;
  margin: 0;
  line-height: .65;
  padding: 10px 35px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
  margin-right: 40px;
}
#nav-list {
	margin: 0;
}
#nav-list span {
  background: #FFF;
  text-align: center;
  border: 1px solid black;
  font-size: 1.8em;
}
#nav-list li:nth-child(1) span:hover {
  background: #FF0000;
  border-top: 2px solid black;
}
#nav-list li:nth-child(2) span:hover {
  background: #FFFF00;
}
#nav-list li:nth-child(3) {
	border-bottom: 2px solid black;
}
#nav-list li:nth-child(3) span:hover {
  background: #008000;
}
span h2 {
	display: block;
}
#main-content {
  background-color: #D3D3D3;
  width: 90%;
  margin-top: 40px;
  height: 1000px;
}

@media (min-width: 768px) {
  #header-nav {
    height: 70px;
  }
}

