* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

.row {
	width: 100%;
	margin: 15px 0px;
}

.col {
	float: left;
	padding: 10px 20px;
}

.heading {
	font-size: 175%;
	text-align: center;
	margin: 15px;
}

.section {
	position: relative;
	background-color: gray;
	border: 1px solid black;
}

.section-title {
	position: absolute;
	font-size: 125%;
	top: 0;
	right: 0;
	border: 1px solid black;
	width: 125px;
	text-align: center;
	font-weight: bold;
}

.section-content {
	margin: 35px 10px 5px;
	overflow: auto;
}

#col-title-1 {
	background-color: pink;
}

#col-title-2 {
	background-color: red;
	color: white;
}

#col-title-3 {
	background-color: yellow;
}

/*** DESKTOP ***/
@media (min-width: 992px) {
	.col-lg {
		width: 33.33%;
	}
}

/*** TABLET ***/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-half {
		width: 50%;
	}

	.col-md-whole {
		width: 100%;
	}

}

/*** MOBILE ***/
@media (max-width: 767px) {
	.col-sm {
		width: 100%;
	}

}